<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.appDetail.title})"></head>
<script type="text/javascript">
function resetForm(id){
	$('#'+id).val(function(){
		this.defaultValue;
	});
	
}

$(document).ready(function(){
	/*!I Summon the modal screen! */
	$('button[name="upload_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#confirmModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            $form.trigger('submit');
	        });
	});
	
	$('button[name="view_images"]').on('click', function(e){
		$('#links li:first a').click();
	});
	/*!I Summon the modal screen! */
	
	/*! Customed function for dynamic addition of image with image type */
	addImageFunction();
});

</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <h4>&nbsp;</h4>
    <form id="appDetailForm" class="form-horizontal" method="post" th:action="@{/upload}" th:object="${appDetailsForm}">
    
    <div class="row">
		<div class="col-md-6">
			<div class="input-group svX3">
				<label for="inputAppNo" class="input-group-addon imagetype-width" id="appNo-addon">Application No. :</label>
				<input type="text" class="form-control" id="inputAppNo" th:field="*{appNo}" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="input-group svX3" >
				<label for="inputCustomerName" class="input-group-addon imagetype-width" id="customerName-addon">Customer Name :</label>
				<input type="text" class="form-control" id="inputCustomerName" th:field="*{customerName}" name="customerName" aria-describedby="customerName-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
    </div>
    
    <h3>&nbsp;</h3>
    
	<!-- Existing Application Images -->
	<div th:each="mItem : ${appDetailsForm.images}">
	   	<div class="row">	   		
			<div class="col-md-12">
		    	<div class="input-group svX3">
					<label for="appImage" class="input-group-addon imagetype-width" id="appImage-addon" th:text="${mItem.imageType}">ImageName:</label>
					<input type="text" class="form-control" id="appImage" name="appImage" aria-describedby="appImage-addon" readonly="readonly" th:value="${mItem.fileName}" />
				</div>
			</div>
	    </div>
	    <h4></h4>
    </div>
 
    <div id="additionalImage" class="additionalImage"></div>
    <h4></h4>
    <div class="row">
    	<div class="col-md-2">
			<div class="input-group">
				<div class="input-group-btn">
					<p>	<a href="#addLink" id='addLink'><span class="glyphicon glyphicon-plus"></span>Add &nbsp;&nbsp;</a>
						<a href="#removeLink" id='removeLink'><span class="glyphicon glyphicon-minus"></span>Remove</a>
					</p>
				</div>
			</div>
		</div>
    	
	    <div class="col-md-10">
			<div class="input-group">
				<span class="text-right input-group-btn" >
					<button name="upload_images"  type="button" class="btn btn-primary">Submit</button>
					<button name="view_images" type="button" class="btn btn-primary" >View Image</button>
				</span>
			</div>
		</div>

    </div>
    </form>
</div>

<!-- Modal For Submission-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='confirmModal',modal_title='Confirm Submission', modal_msg='Are you sure you want to submit these Documents?')">&nbsp;</div>

<!-- Modal For Pending-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='pendingModal',modal_title='Confirm Pending',modal_msg='Are you sure you want to save these images as Pending?')">&nbsp;</div>

<div id="links" style="visibility : hidden">
	<ul>
		<li>
	    	<a href="../../../resources/images/w.macalino_af.jpg" th:href="@{/resources/images/w.macalino_af.jpg}"  title="Application Form" data-gallery="samplegallery"></a>
	    </li>
	    <li>
	    	<a href="../../../resources/images/0029504_id1.jpg" th:href="@{/resources/images/0029504_id1.jpg}" title="Id Proof" data-gallery="samplegallery"></a>
	    </li>
	    <li>
	    	<a href="../../../resources/images/0029504_ps.jpg" th:href="@{/resources/images/0029504_ps.jpg}" title="Income Proof" data-gallery="samplegallery"></a>
		</li>
		<li>
	    	<a href="../../../resources/images/0029504_pob.jpg" th:href="@{/resources/images//0029504_pob.jpg}" title="Billing Proof" data-gallery="samplegallery"></a>
		</li>
	</ul>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
	    <!-- The container for the modal slides -->
	    <div class="slides"></div>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	    <!-- The modal dialog, which will be used to wrap the lightbox content -->
	    <div class="modal">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body next">
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default pull-left prev">
	                        <i class="glyphicon glyphicon-chevron-left"></i>
	                        Previous
	                    </button>
	                    <button type="button" class="btn btn-primary next">
	                        Next
	                        <i class="glyphicon glyphicon-chevron-right"></i>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>