<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.appDetail.title})"></head>
<script type="text/javascript">
function resetForm(id){
	$('#'+id).val(function(){
		this.defaultValue;
	});
	
}



$(document).ready(function(){
	$('button[name="upload_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#confirmModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            $form.trigger('submit');
	        });
	});
	
    $("#addLink").click(function () {
        var id = ($('.additionalImage .row').length + 1).toString();
        $('#additionalImage').append('<h4></h4><div class="row" id="row-image_'+id+'">'
        		+'<div class="col-md-4"><div class="input-group svX3">'
        		+'<label for="inputImageType" style="width: 135px;" class="input-group-addon" id="imageType-addon">Image Type :&nbsp;</label>'
        		+'<select class="form-control" aria-describedby="imageType-addon" id="inputImageType" name="imageType">'
        		+ '<option value="0"></option><option value="1">Application Form</option><option value="2">ID Proof</option><option value="3">Proof of Billing</option><option value="4">Proof of Income</option>'
        		+'</select>'
        		+'</div>'
        		+'</div>'
        		+'<div class="col-md-8"><div class="input-group">'
        		+'<input type="file" class="form-control" id="image_'+id+'" name="image_'+id+'" aria-describedby="image_'+id+'-addon" />'
        		+'<span class="input-group-btn"><button type="button" class="btn btn-primary" onclick="resetForm(\'image_'+id+'\')">Clear</button></span></div></div></div>');

    });
    
    $("#removeLink").click(function () {
    	var id = ($('.additionalImage .row').length).toString();
        $("#additionalImage #row-image_"+ id).remove();
    });
    
    $("#appDetailForm").validate({
    	rules: {
    	    // simple rule, converted to {required:true}
    	    imageType: "required",
    	  }	
    });
});




</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
    <h4>&nbsp;</h4>
    <form id="appDetailForm" class="form-horizontal" method="post" th:action="@{/upload}" th:object="${appDetailsForm}">
    
    <div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<label for="inputAppNo" class="input-group-addon" id="appNo-addon">Application No. :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputAppNo" th:field="*{appNo}" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="input-group" >
				<label for="inputCustomerName" class="input-group-addon" id="customerName-addon">Customer Name :&nbsp;</label>
				<input type="text" class="form-control" id="inputCustomerName" th:field="*{customerName}" name="customerName" aria-describedby="customerName-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
    </div>
    
    <h3>&nbsp;</h3>
    
	<!-- Existing Application Images -->
	<div th:each="mItem : ${appDetailsForm.images}">
	   	<div class="row">	   		
			<div class="col-md-12">
		    	<div class="input-group svX3">
					<label for="appImage" style="width: 135px;" class="input-group-addon" id="appImage-addon" th:text="${mItem.imageType}">ImageName:</label>
					<input type="text" class="form-control" id="appImage" name="appImage" aria-describedby="appImage-addon" readonly="readonly" th:value="${mItem.fileName}" />
				</div>
			</div>
	    </div>
	    <h4></h4>
    </div>
    	
<!--     <div class="row"> -->
<!-- 		<div class="col-md-12"> -->
<!-- 			<div class="input-group"> -->
<!-- 				<label for="inputAppForm" class="input-group-addon" id="appForm-addon">Application Form :</label> -->
<!-- 				<input type="file" class="form-control" id="inputAppForm"  name="applicationNo" aria-describedby="AppForm-addon" /> -->
<!-- 				<span class="input-group-btn"> -->
<!-- 					<button type="button" class="btn btn-primary" onclick="resetForm('inputAppForm')">Clear</button> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!--     </div> -->
<!--    	<h4></h4> -->
<!--    	<div class="row show-grid"> -->
<!-- 	    <div class="col-md-12"> -->
<!-- 			<div class="input-group"> -->
<!-- 				<label for="inputIdProof" class="input-group-addon" id="idProof-addon">ID Proof &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label> -->
<!-- 				<input type="file" class="form-control" id="inputIdProof"  name="idProof" aria-describedby="idProof-addon" /> -->
<!-- 				<span class="input-group-btn"> -->
<!-- 					<button type="button" class="btn btn-primary" onclick="resetForm('inputIdProof')">Clear</button> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!--     </div> -->
    <h4></h4>
<!--     <div class="row"> -->
<!-- 	    <div class="col-md-12"> -->
<!-- 			<div class="text-right input-group"> -->
<!-- 				<label for="inputAddressProof" class="input-group-addon" id="addressProof-addon">Proof of Billing:&nbsp;&nbsp;&nbsp;&nbsp;</label> -->
<!-- 				<input type="file" class="form-control" id="inputAddressProof"  name="addressProof" aria-describedby="addressProof-addon" /> -->
<!-- 				<span class="input-group-btn"> -->
<!-- 					<button type="button" class="btn btn-primary" onclick="resetForm('inputAddressProof')">Clear</button> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!--     </div> -->
<!--     <h4></h4> -->
<!--     <div class="row"> -->
<!-- 	    <div class="col-md-12"> -->
<!-- 			<div class="input-group"> -->
<!-- 				<label for="inputIncomeProof" class="input-group-addon" id="incomeProof-addon">Proof of Income :&nbsp;</label> -->
<!-- 				<input type="file" class="form-control" id="inputIncomeProof"  name="incomeProof" aria-describedby="incomeProof-addon" /> -->
<!-- 				<span class="input-group-btn"> -->
<!-- 					<button type="button" class="btn btn-primary" onclick="resetForm('inputIncomeProof')">Clear</button> -->
<!-- 				</span> -->
<!-- 			</div> -->
<!-- 		</div> -->
<!--     </div> -->
<!--     <h4></h4> -->
    <div id="additionalImage" class="additionalImage">

    </div>
    
    <h4></h4>
    <div class="row">
    	<div class="col-md-2">
			<div class="input-group">
				<div class="input-group-btn">
					<p>	<a href="#" id='addLink'><span class="glyphicon glyphicon-plus"></span>Add &nbsp;&nbsp;</a>
						<a href="#" id='removeLink'><span class="glyphicon glyphicon-minus"></span>Remove</a>
					</p>
				</div>
			</div>
		</div>
    	
	    <div class="col-md-10">
			<div class="input-group">
				<span class="text-right input-group-btn" >
					<button name="upload_images"  type="button" class="btn btn-primary">Submit</button>
					<button name="view_images" type="button" class="btn btn-primary" >View Image</button>
				</span>
			</div>
		</div>

    </div>
    </form>
</div>

<!-- Modal For Submission-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='confirmModal',modal_title='Confirm Submission', modal_msg='Are you sure you want to submit these Documents?')">&nbsp;</div>

<!-- Modal For Pending-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='pendingModal',modal_title='Confirm Pending',modal_msg='Are you sure you want to save these images as Pending?')">&nbsp;</div>
</body>
</html>