<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.search.title})"></head>
<body>
<!-- Loading gif -->
<div class="se-pre-con"></div>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="wrap">
<div class="container-fluid">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>    
    <form id="appSearchForm" class="form-search form-horizontal" th:object="${appSearchForm}">
    <div class="row">
		<div class="col-md-4">
			<div class="input-group svX3">
				<label for="inputAppNo" class="input-group-addon imagetype-width" id="appNo-addon">Application No. :</label>
				<input type="text" class="form-control" id="inputAppNo" th:field="*{applicationNo}" placeholder="_________-_" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" />
			</div>
		</div>

		<div class="col-md-5">			
			<div class='input-group date' id='datetimepicker_from'>
				<label for="inputAppDate-from" class="input-group-addon imagetype-width" id="appDate-from-addon">Application Date :</label>
                <input type='text' class="form-control" name="appDateFrom" th:field="*{appDateFrom}" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
		</div>
		<div class="col-md-3">
			<div class='input-group date' id='datetimepicker_to'>
                <input type='text' class="form-control" name="appDateTo" th:field="*{appDateTo}"/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
		</div>
    </div>
    <h3></h3>
    <div class="row">
		<div class="col-md-5">
			<div class="input-group svX3">
				<label for="inputCustomerName" class="input-group-addon imagetype-width" id="customerName-addon">Customer Name :</label>
				<input type="text" class="form-control" id="inputCustomerName" th:field="*{customerName}" name="customerName" aria-describedby="customerName-addon" maxlength="30"/>
			</div>
		</div>
		<div class="col-md-3">
			<div class="input-group svX3">
				<label for="inputSeqNo" class="input-group-addon imagetype-width" id="seqNo-addon">Sequence No. :</label>
				<input type="text" class="form-control" id="inputSeqNo" name="seqNo" th:field="*{seqNo}" aria-describedby="seqNo-addon" maxlength="7" />
			</div>
		</div>
		<div class="col-md-4">
			<div class="input-group svX3">
				<label for="inputAppStatus" class="input-group-addon imagetype-width" id="appStatus-addon">Application Status :</label>
					
					<select class="form-control" aria-describedby="appStatus-addon" id="inputAppStatus" name="appStatus" th:field="*{appStatus}">					
						<option th:each="enumAppStatus : ${listAppStatus}" th:value="${enumAppStatus.code}" th:text="#{${enumAppStatus.value}}">App Status</option>
					</select>
			</div>
		</div>
    </div>
    <h3></h3>
    <div class="row">
    	<div class="col-md-2 col-md-offset-10">
			<div class="input-group">
				<div class="input-group" >
					<p>
						<button name="search_app"  type="submit" class="btn btn-primary">Search</button>
						<button name="resetFields" type="submit" class="btn btn-primary" >Reset</button>
					</p>
				</div>
			</div>
		</div>
    </div>
    </form>
    
    <div id="no-more-tables">
	    <table id="table-pagination" class="table table-striped" data-toggle="table" th:attr="data-url= @{${searchUrl}}" data-height="425" data-search="true" data-pagination="true">
	    <thead>
	        <tr>
	            <th data-sortable="true" data-field="appNo" data-formatter="appFormatter">Application No</th>
	            <th data-sortable="true" data-field="customerName">Customer Name</th>
	            <th data-sortable="true" data-field="applicationDate">Application Date</th>
	            <th data-sortable="true" data-field="applicationStatus">Application Status</th>
	            <th data-sortable="true" data-field="seqNo">SeqNo</th>
	            <th data-sortable="true" data-field="remarks" data-formatter="remarksFormatter">Remarks</th>
	        </tr>
	    </thead>
		</table>
	</div>
    
</div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<div th:replace="fragments/resources :: basic-resources"></div>
<div th:replace="fragments/resources :: validation-resources"></div>
<div th:replace="fragments/resources :: calendar-resources"></div>
<div th:replace="fragments/resources :: table-resources"></div>

<script type="text/javascript" th:inline="javascript">

$(document).ready(function () {
	
	showLoadingGifOnFormSubmit();
	enableToolTipForHeader();
    $('#datetimepicker_from').datetimepicker({
    	//format: "YYYY-MM-DD HH:mm:ss"
    	format: "YYYY-MM-DD"
    });
    $('#datetimepicker_to').datetimepicker({
    	//format: "YYYY-MM-DD HH:mm:ss"
    	format: "YYYY-MM-DD"
    });
    $("#datetimepicker_from").on("dp.change", function (e) {
        $('#datetimepicker_to').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker_to").on("dp.change", function (e) {
        $('#datetimepicker_from').data("DateTimePicker").maxDate(e.date);
    });
});

function appFormatter(value){
	var $detail_url = '<a href="detail" th:href="@{/detail/{0}}">{1}</a>'.format(value,value);
	return $detail_url;
}

function remarksFormatter(value, row){
	var $params = row.withPassword ? "?withPassword=true" : "";
	var $reportsUrl =  /*[[${reportsUrl}]]*/;
	var $detail_url = row.applicationStatus ===	"Approved" ?
			('<a href="{0}/{1}' + $params + '" target="_blank">Letter of Notification</a>').format($reportsUrl, row.sysAppCd)
			: value;
	return $detail_url;
}

</script>
</body>
</html>