<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <title>Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><strong>HPS-OSA</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/signin" th:href="@{/signin}">Sign in</a>
                </li>
             
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<!--  <div th:replace="fragments/header :: header">Header</div> -->
<div class="container">
    <div th:replace="fragments/alert :: alert (type='danger', message=${errorMessage})">Error: Error</div>
	 
	<div class="panel-group" id="accordion" th:if="${detailedErrorMsg!=null}">
	  <div class="panel panel-danger" id="panel1">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-target="#collapseOne" href="#collapseOne">
	          Click here for Detailed Error Message
	        </a>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse out">
	      <div class="panel-body">
	      		<p th:text="${detailedErrorMsg}" ></p>
	      </div>
	    </div>
	  </div>
	</div>

    <div th:include="fragments/footer :: footer">&copy; 2015 The Static Templates</div>
</div>
</body>
</html>