<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
<title>Employment Information Fragment</title>
</head>
<body>
	<div th:fragment="employmentInfo" id="empInfo" class="tab-pane fade">
  	<script type="text/javascript">

  	$(document).ready(function(e){
  		 $('.income-group').on('change', function(e){
  			calculateIncome();
  		 });
  		 
  		 $('.expenses-group').on('change', function(e){
  			calculateExpenses();
   		 });
  	});    
  	
  	function calculateIncome(){
		$monthlyIncome = ($('#monthlyIncome').val()=='')|| ($('#monthlyIncome').val()==null) ? 0: parseInt($('#monthlyIncome').val(),10);
		$otherIncome = ($('#otherIncome').val()=='')|| ($('#otherIncome').val()==null) ? 0: parseInt($('#otherIncome').val(),10);
		$remittance = ($('#remittance').val()=='')|| ($('#remittance').val()==null) ? 0: parseInt($('#remittance').val(),10);
  		$('#totalPersonalIncome').val($monthlyIncome + $otherIncome);
  		$('#totalIncome').val($monthlyIncome + $otherIncome + $remittance);
  	};
  	
  	function calculateExpenses(){
		$fixedExpenses = ($('#fixedExpenses').val()=='')|| ($('#fixedExpenses').val()==null) ? 0: parseInt($('#fixedExpenses').val(),10);
		$flexibleExpenses = ($('#flexibleExpenses').val()=='')|| ($('#flexibleExpenses').val()==null) ? 0: parseInt($('#flexibleExpenses').val(),10);
		$discretionaryExpense = ($('#discretionaryExpense').val()=='')|| ($('#discretionaryExpense').val()==null) ? 0: parseInt($('#discretionaryExpense').val(),10);
  		$('#totalExpenses').val($fixedExpenses + $flexibleExpenses);
  		$('#expandedExpense').val($fixedExpenses + $flexibleExpenses + $discretionaryExpense);
  	};
  	
  	</script>
	  	
	  	<p></p>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="employmentType">Employment Type </label></div>
					  	<div class="col-md-3">
					  		<select th:field="*{employmentType}" name="employmentType" class="form-control selectField" id="employmentType">
					  			<option value=""></option>					
								<option th:each="item : ${employmentTypeList}" th:value="${item}" th:text="#{${item.value}}"></option>
							</select> 
					  	</div>
					  	<div class="col-md-1">
<!-- 					  		<label class="control-label" for="monthlyIncome">Monthly Net Income</label> -->
					  	</div>
					  	<div class="col-md-2">
<!-- 					  		<input th:field="*{monthlyNetIncome}" name="monthlyIncome" type="text" class="form-control numeric-decimal currency_10_req" id="monthlyIncome" maxlength="10"/> -->
					  	</div>
					  	<div class="col-md-2">
<!-- 					  		<label class="control-label" for="otherIncome">Other Income(if any)</label> -->
					  	</div>
					  	<div class="col-md-2">
<!-- 					  		<input th:field="*{otherIncome}" name="otherIncome" type="text" class="form-control numeric-decimal currency_10_req" id="otherIncome" maxlength="10"/> -->
					  	</div>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="companyName">Company Name</label></div>
					  	<div class="col-md-6"><input th:field="*{companyName}" name="companyName" type="text" class="form-control any_70_req text-left" id="companyName" placeholder="Company Name" maxlength="70"/></div>
					  	<div class="col-md-2"><label class="control-label" for="sourceOfOtherIncome">Source of Other Income</label></div>
					  	<div class="col-md-2"><input th:field="*{sourceOfIncome}" name="sourceOfOtherIncome" type="text" class="form-control any_50" id="sourceOfOtherIncome" maxlength="50"/></div>
				  	</div>
				</div>
			</div>
		</div>
		<!--Start Copy Address Detail II: you can copy paste from here but make sure id are modified and labels are updated. -->
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="corpAddress">Company Address</label></div>
						<div class="col-md-6">
							<div class="row">
								<div class="col-md-4">
									<div class="input-group">
										<input th:field="*{corpAddress.zipCode}" name="zipcode_3" type="text" class="form-control numeric any_6_req" id="zipcode_3" placeholder="Zip Code" maxlength="6" readonly="readonly"/>								
										<div class="input-group-btn">
												<button value="btn_zipcode_3" name="btn_zipcode_3" type="button" class="btn btn-primary">?</button>
										</div>
									</div>
								</div>
								<div class="col-md-2">
									<input th:field="*{corpAddress.unitNo}" name="corpUnitNo" type="text" class="form-control dashedAlphaNumeric_6_req" id="corpUnitNo" placeholder="Unit No" maxlength="6"/>  
								</div>
								<div class="col-md-6">
									<input th:field="*{corpAddress.street}" name="corpStreet" type="text" class="form-control any_70_req" id="corpStreet" placeholder="Street" maxlength="70"/>
								</div> 
							</div>
						</div>
						
						<div class="col-md-4">
							<input th:field="*{corpAddress.baranggay}" type="text" name="area_3" class="form-control any_70_req" id="area_3" placeholder="Baranggay/Village" maxlength="70"/>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="corpFaxNo">Company FAX No.</label></div>
						<div class="col-md-3">
						
							<div class="form-group">
								<div class="col-xs-5">
									<input th:field="*{corpFaxReg}" name="corpFaxReg" type="text" class="form-control numeric" id="corpFaxReg" placeholder="Fax Reg." maxlength="4"/>
								</div>
								<div class="col-xs-7">
									<input th:field="*{corpFaxNo}" name="corpFaxNo" type="text" class="form-control numeric" id="corpFaxNo" placeholder="Fax No." maxlength="20"/>
								</div>
							</div>
						
						</div>
						<div class="col-md-3">
							<input th:field="*{corpAddress.city}" name="city_3" type="text" class="form-control" id="city_3" placeholder="City" maxlength="100" readonly="readonly"/>
						</div> 
						<div class="col-md-4">
							<input th:field="*{corpAddress.landMark}" name="corpLandmark" type="text" class="form-control" id="corpLandmark" placeholder="Landmark" maxlength="100"/>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- End Copy Address Detail II: you can copy paste from here but make sure id are modified and labels are updated. -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
					  	<div class="col-md-2"><label class="control-label" for= "corpPhone">Company Phone</label></div>
						<div class="col-md-3">
							<div class="form-group">
								<div class="col-xs-5">
									<input th:field="*{corpPhone.region}" name="corpPhoneReg" type="text" class="form-control numeric phone_reg_4 corpPhone" id="corpPhoneReg" placeholder="_ _ _" maxlength="4"/> 
								</div>
								<div class="col-xs-7">
									<input th:field="*{corpPhone.phoneNo}" name="corpPhoneNo" type="text" class="form-control numeric phoneno_7 corpPhone" id="corpPhoneNo" placeholder="_ _ _ _ _ _ _" maxlength="7"/>
								</div> 
							</div>
						</div>
					  	
						<div class="col-md-1"><input th:field="*{corpPhone.local}" name="corpLocal" class="form-control numeric" id="corpLocal" placeholder="Loc" maxlength="5"/></div>
					  	
					  	<!-- 
					  		<div class="col-md-1"><label class="control-label" for="salaryType">Salary Type</label></div>
							<div class="col-md-1">
								<select th:field="*{salaryType}" name="salaryType" class="form-control selectField" id="salaryType">
						  			<option value=""></option>					
									<option th:each="item : ${salaryTypeList}" th:value="${item}" th:text="#{${item.value}}"></option>
								</select>
							</div>
					  	 -->
					  	
						
					  	<div class="col-md-1"><label class="control-label" for="salaryDate">Salary Date</label></div>
						<div class="col-md-1">
<!-- 							<input th:field="*{salaryDate}" name="salaryDate" type="text" class="form-control" id="salaryDate" placeholder="S.Date" maxlength="2"/> -->
							<select th:field="*{salaryDate}" name="employmentStatus" class="form-control selectField" id="salaryDate">
					  			<option value=""></option>					
								<option th:each="item : ${daysOfMonthList}" th:value="${item}" th:text="#{${item.value}}"></option>
							</select>
						</div>
						
						<div class="col-md-2"><label class="control-label" for="employmentStatus">Employment Status</label></div>
						<div class="col-md-2">
							<select th:field="*{employmentStatus}" name="employmentStatus" class="form-control selectField text-right" id="employmentStatus">
					  			<option value=""></option>					
								<option th:each="item : ${employmentStatusList}" th:value="${item}" th:text="#{${item.value}}"></option>
							</select>
						</div>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="yearsOfService">Years of Service</label></div>
						<div class="col-md-1"><input th:field="*{yosYears}" name="yosYears" type="text" class="form-control any_2_req numeric" id="yosYears" placeholder="Years" maxlength="2"/></div>
						<div class="col-md-1"><input th:field="*{yosMonths}" name="yosMonths" type="text" class="form-control mon_2_req numeric" id="yosMonths" placeholder="Months" maxlength="2" /></div>
						<div class="col-md-2"><label class="control-label" for="natureOfBusiness">Nature of Business</label></div>
					  	<div class="col-md-2">
					  		<select th:field="*{natureOfBusiness}" name="natureOfBusiness" class="form-control selectField" id="natureOfBusiness">
					  			<option value=""></option>					
								<option th:each="item : ${natureOfBusinessList}" th:value="${item}" th:text="#{${item.value}}"></option>
							</select> 	
					  	</div>
					  	
					  	<div class="col-md-2"><label class="control-label" for="occupation">Occupation</label></div>
						<div class="col-md-2"><input th:field="*{occupation}" name="occupation" type="text" class="form-control any_50_req" id="occupation" placeholder="Occupation" maxlength="50"/></div>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="contactTimeFrom">Convenient Contact Time</label></div>
						<div class="col-md-1"><input th:field="*{contactTimeFrom}" name="contactFrom" type="text" class="form-control any_2 numeric contactTimeGroup" id="contactFrom" placeholder="From" maxlength="2"/></div>
						<div class="col-md-1"><input th:field="*{contactTimeTo}" name="contactTo" type="text" class="form-control any_2 numeric contactTimeGroup greaterThan"  data-min="contactFrom" id="contactTo" placeholder="To" maxlength="2" /></div>
						<div class="col-md-2"><label class="control-label" for="department">Department</label></div>
					  	<div class="col-md-2"><input th:field="*{department}" name="department" type="text" class="form-control any_50_req" id="department" placeholder="Department" maxlength="50"/></div>
					  	<div class="col-md-2"><label class="control-label" for="noOfEmployee">No. of Employee</label></div>
						<div class="col-md-2"><input th:field="*{noOfEmployee}" name="noOfEmployee" type="text" class="form-control numeric any_3" id="noOfEmployee" placeholder="No. of Employee" maxlength="3"/></div>
				  	</div>
				</div>
			</div>
		</div>
		
		<!-- New Salary and Expense Calculation -->
		<p></p>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="monthlyIncome">Monthly Net Income</label></div>
					  	<div class="col-md-2"><input th:field="*{monthlyNetIncome}" name="monthlyIncome" type="text" class="form-control income-group numeric-decimal currency_10_req" id="monthlyIncome" maxlength="10"/></div>
						<div class="col-md-2"><label class="control-label" for="monthlyIncome">Other Income(if any)</label></div>
					  	<div class="col-md-2"><input th:field="*{otherIncome}" name="otherIncome" type="text" class="form-control income-group numeric-decimal currency_10" id="otherIncome" maxlength="10"/></div>
					  	<div class="col-md-2"><label class="control-label" for="totalPersonalIncome">Total Personal Income</label></div>
					  	<div class="col-md-2"><input name="totalPersonalIncome" type="text" class="form-control income-group numeric-decimal currency_10" id="totalPersonalIncome" maxlength="10" readonly="readonly"/></div>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"></div>
					  	<div class="col-md-2"></div>
						<div class="col-md-2"><label class="control-label" for="remittance">Contributions/Remittances</label></div>
					  	<div class="col-md-2"><input th:field="*{remittance}" name="remittance" type="text" class="form-control income-group numeric-decimal currency_10" id="remittance" maxlength="10"/></div>
					  	<div class="col-md-2"><label class="control-label" for="totalIncome">Total Income</label></div>
					  	<div class="col-md-2"><input name="totalIncome" type="text" class="form-control numeric-decimal currency_10" id="totalIncome" maxlength="10" readonly="readonly"/></div>
				  	</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"><label class="control-label" for="fixedExpenses">Fixed Expenses</label></div>
					  	<div class="col-md-2"><input th:field="*{fixedExpenses}" name="fixedExpenses" type="text" class="form-control expenses-group numeric-decimal currency_10" id="fixedExpenses" maxlength="10"/></div>
						<div class="col-md-2"><label class="control-label" for="flexibleExpenses">Flexible Expenses</label></div>
					  	<div class="col-md-2"><input th:field="*{flexibleExpenses}" name="flexibleExpenses" type="text" class="form-control expenses-group numeric-decimal currency_10" id="flexibleExpenses" maxlength="10"/></div>
					  	<div class="col-md-2"><label class="control-label" for="totalExpenses">Total Expense</label></div>
					  	<div class="col-md-2"><input name="totalExpenses" type="text" class="form-control numeric-decimal currency_10" id="totalExpenses" maxlength="10" readonly="readonly"/></div>
				  	</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="form-group">
					<div class="row">
						<div class="col-md-2"></div>
					  	<div class="col-md-2"></div>
						<div class="col-md-2"><label class="control-label" for="discretionaryExpense">Discretionary Expenses</label></div>
					  	<div class="col-md-2"><input th:field="*{discretionaryExpense}" name="discretionaryExpense" type="text" class="form-control expenses-group numeric-decimal currency_10" id="discretionaryExpense" maxlength="10"/></div>
					  	<div class="col-md-2"><label class="control-label" for="expandedExpense">Expanded Expense</label></div>
					  	<div class="col-md-2"><input name="expandedExpense" type="text" class="form-control numeric-decimal currency_10" id="expandedExpense" maxlength="10" readonly="readonly"/></div>
				  	</div>
				</div>
			</div>
		</div>	
	</div>
</body>
</html>