<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.dataEntry.title})"></head>
<body>
<!-- Loading gif -->
<div class="se-pre-con"></div>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="wrap">
<div class="container-fluid">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#arrays.isEmpty(message.args)?'':message.args[0]})})">&nbsp;</div>
    </th:block>
    
<form id="dataEntryForm" class="form-horizontal form-de" th:object="${dataEntryForm}" th:action="@{/dataentry/} + *{applicationNo}" method="post" enctype="multipart/form-data" >
  <div class="form-group">
	  <div class="row">
	  	<div class="col-xs-4"><strong><label class="control-label" th:text="*{'Application Data Entry '+ applicationNo}" >Application Data Entry</label></strong></div>
	  	<input type="hidden" th:field="*{applicationNo}" />
	  	<div class="col-lg-5 col-lg-offset-3 col-md-5 col-md-offset-3 col-xs-8" >
	  		<div class="input-group">
		  		<div class="row">
		  	 		<div class="col-xs-4 col-xs-offset-8">
		  	 		<p></p>
		  	 			<div class="input-group-btn">
		  	 				<button type="button" id="btn_submit_data_entry" class="btn btn-primary">Submit</button>
		  	 			</div>
		  	 			<div class="input-group-btn">
		  	 				<button type="reset" id="resetForm" class="btn btn-primary">Clear</button>
		  	 			</div>
		  	 		<p></p>
		  	 		</div>
		  	 	</div>
	  	 	</div>
	  	</div>
	  </div>
  </div>
  <p></p>
  <ul id="dataEntrySegments" class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#appInfo"><strong>Applicant Information</strong> <span class="badge badge-danger"></span></a></li>
    <li><a data-toggle="tab" href="#empInfo"><strong>Employment Information</strong> <span class="badge badge-danger"></span></a></li>
    <li><a data-toggle="tab" href="#bankInfo"><strong>Bank Account Information</strong> <span class="badge badge-danger"></span></a></li>
    <li><a data-toggle="tab" href="#refInfo"><strong>Reference I (Relative)</strong> <span class="badge badge-danger"></span></a></li>
    <li><a data-toggle="tab" href="#refInfoMore"><strong>Reference II (Relative)</strong> <span class="badge badge-danger"></span></a></li>
    <li><a data-toggle="tab" href="#prodDetail"><strong>Product and Installment Detail</strong> <span class="badge badge-danger"></span></a></li>
  </ul>
<div class="container-fluid">
	<div class="tab-content">
		<!-- Applicant Information -->
		<div th:replace="fragments/dataentry/_applicantInfo :: applicantInfo">This will be replaced by applicant fragment.</div>
		<!-- Employment Information -->
		<div th:replace="fragments/dataentry/_employmentInfo :: employmentInfo">This will be replaced by employment fragment.</div>
		<!-- Bank Information -->
		<div th:replace="fragments/dataentry/_bankInfo :: bankInfo">This will be replaced by employment fragment.</div>
		<!-- Reference Information -->
		<div th:replace="fragments/dataentry/_refInfo :: refInfo">This will be replaced by employment fragment.</div>
		<!-- More Reference Information -->
		<div th:replace="fragments/dataentry/_refInfoMore :: refInfoMore">This will be replaced by employment fragment.</div>
		<!-- Product Information -->
		<div th:replace="fragments/dataentry/_prodDetail :: prodDetail">This will be replaced by employment fragment.</div>
	</div>
</div>
<div>
   <input type="hidden" id="selectedZipcode"/>
</div>

</form>
</div>
</div>
	
<div th:replace="fragments/footer :: footer">&nbsp;</div>

<div th:replace="fragments/zipcode/modal_zipcode :: modal_zipcode(modal_id='zipcodeModal',modal_title='Zipcode')">&nbsp;</div>
<div th:replace="fragments/modal_generic :: modal_generic(modal_id='modal_generic',modal_title='Information')">&nbsp;</div>
	
<script type="text/javascript">
//<![CDATA[
$( document ).on( "click", 'button[name^="btn_category"]', function(e) {
	e.preventDefault();
    var $categoryIndex = $(this).attr('name').replace(/[^0-9]/gi, '');
    $('#selectedCategory').val($categoryIndex);
    $('#categoryModal').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#close', function (e) {
            return;
    });
});

$( document ).on( "click", 'button[name^="btn_description"]', function(e) {
	e.preventDefault();
    var $descIndex = $(this).attr('name').replace(/[^0-9]/gi, '');
    $('#selectedDesc').val($descIndex);
    
    $category = $('#categoryCode_'+$descIndex).val();
    $('#descriptionModal_'+$category).modal({ backdrop: 'static', keyboard: false })
        .one('click', '#close', function (e) {
            return;
    });
});

$( document ).on( "click", 'button[name^="btn_brand"]', function(e) {
	e.preventDefault();
    var $brandIndex = $(this).attr('name').replace(/[^0-9]/gi, '');
    $('#selectedBrand').val($brandIndex);
    $category = $('#categoryCode_'+$brandIndex).val();
    $('#brandModal_'+$category).modal({ backdrop: 'static', keyboard: false })
        .one('click', '#close', function (e) {
            return;
    });
});

$(document).on("click",'[name^="btn_delete_"]',function(e){
	//clear the chosen category
	e.preventDefault();
	$(this).parent().parent().find('input').val('');
});

$(document).ready(function(e){
	// Convert into Upper Case
    $('#dateOfBirthPicker').datetimepicker({
    	//format: "YYYY-MM-DD HH:mm:ss"
    	format: "YYYY-MM-DD"
    });
	
	/* Prevents user to input character on fields marked with class numeric.*/
	enableNumericOnlyForNumericClass();
	enableDecimalOnlyForNumericClass();

	 $('button[name^="btn_zipcode"]').on('click', function(e){
	    e.preventDefault();
	    var $zipCodeIndex = $(this).attr('name').replace(/[^0-9]/gi, '');
	    $('#selectedZipcode').val($zipCodeIndex);
	    $('#zipcodeModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#close', function (e) {return;});
	 });
	 
    // view classRules.js for documentation
	 $("#dataEntryForm").validateForm({
		submitButton : "#btn_submit_data_entry",
		parentSelector : "*[class^='col-']",
		tabSelector : ".tab-pane",
		modal : {
				 selector : {
					 id: "#modal_generic",
					 title: ".modal-title",
					 message: "#generic-message",
					 errortable: "#generic-table-errors"},
				 message : {
					 title: "Promotion Errors",
					 body: null,
					 generic_title: "Input Errors",
					 generic_body: "Kindly review highlighted fields for errors."}
		 	},
	 	beforeSubmit : convertTextInputToUpperCase,				
		submitSuccess : function(data){
			window.location='/';
		}						
	});
});    

//]]>
</script>
</body>
</html>
