<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title='User Registration')"></head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div id="wrap">
<div class="container">
<!-- /* Handle the flash message */-->
<th:block th:if="${message != null}">
    <!-- /* The message code is returned from the @Controller */ -->
    <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#arrays.isEmpty(message.args)?'':message.args[0]})})">&nbsp;</div>
</th:block>

<form class="form-narrow form-horizontal" id="signupForm" method="post" th:action="@{/signup}" th:object="${signupForm}">
    <!--/* Show general error message when form contains errors */-->
    <th:block th:if="${#fields.hasErrors('${signupForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>

    <fieldset>
        <legend>Register here</legend>
        <div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
            <label for="username" class="col-lg-2 control-label">Username</label>
            <div class="col-lg-10">
                <input type="text" class="form-control usernameCheckRemotely" id="username" placeholder="Username" th:field="*{username}" />
                <span class="help-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Incorrect username</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
            <label for="password" class="col-lg-2 control-label">Password</label>
            <div class="col-lg-10">
                <input type="password" class="form-control passwordField" id="password" placeholder="Password" th:field="*{password}"/>
                <span class="help-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Incorrect password</span>
            </div>
        </div>
        <div class="form-group" th:classappend="${#fields.hasErrors('storeCd')}? 'has-error'">
            <label for="storeCd" class="col-lg-2 control-label">Store Code</label>
            <div class="col-lg-10">
                <input type="text" class="form-control storeCdCheckRemotely" id="storeCd" placeholder="Store Code" th:field="*{storeCd}"/>
                <span class="help-block" th:if="${#fields.hasErrors('storeCd')}" th:errors="*{storeCd}">Incorrect storeCd</span>
            </div>
		</div>
        	
		<div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error'">
            <label for="firstName" class="col-lg-2 control-label">First Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="firstName" placeholder="First Name" th:field="*{firstName}" />
                <span class="help-block" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect firstName</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error'">
            <label for="lastName" class="col-lg-2 control-label">Last Name</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name" th:field="*{lastName}" />
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect lastName</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
            <label for="email" class="col-lg-2 control-label">Email</label>
            <div class="col-lg-10">
                <input type="text" class="form-control emailField" id="email" placeholder="Email Address" th:field="*{email}" />
                <span class="help-block" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect email</span>
            </div>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
            <label for="address" class="col-lg-2 control-label">Address</label>
            <div class="col-lg-10">
                <textarea class="form-control" id="address" placeholder="Address" th:field="*{address}" ></textarea>
                <span class="help-block" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Incorrect address</span>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" id="resetPassword" class="btn btn-primary">Register</button>
            </div>
        </div>
<!--         <div class="form-group"> -->
<!--             <div class="col-lg-offset-2 col-lg-10"> -->
<!--                 <p>Already have an account? <a href="signin" th:href="@{/signin}">Sign In</a></p> -->
<!--             </div> -->
<!--         </div> -->
    </fieldset>
</form>
</div>
<!-- Wrapper end tag -->
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

<script type="text/javascript">
$(document).ready(function(){
	validateForm('#signupForm');
	enableToolTipForHeader();
	enableTooltipForSignup();
	showLoadingGifOnFormSubmit();
	
	$('#resetPassword').on('click',function(e){
		convertTextInputToUpperCase();
	})

});


</script>
</body>
</html>