<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title='Welcome to Online Submission')"></head>
<body>
<div th:replace="fragments/header :: header">Header</div>
<div class="container">

    <div class="text-center">
    	
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>
        
        <h1>POC: Core Web Application</h1>
        <p class="lead">
            Welcome to NEO-Core Web Application!
            This is a prototype only.
        </p>
        <p>
            <a href="/signup" th:href="@{/signup}" class="btn btn-primary btn-lg">Sign up</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>
</div>
</body>
</html>