<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.index.title})"></head>
<script type="text/javascript">
function resetForm(id){
	$('#'+id).val(function(){
		this.defaultValue;
	});
	
}

$(document).ready(function(){
	$('button[name="upload_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#confirmModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            $form.trigger('submit');
	        });
	});
	
	$('button[name="pending_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#pendingModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            $form.trigger('submit');
	        });
	});
	
	/*! Customed function for dynamic addition of image with image type */
	addImageFunction();
});

</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
    </th:block>

    <h4>&nbsp;</h4>
    <form id="uploadForm" class="form-horizontal" method="post" th:action="@{/upload}" >
    <div class="row">
		<div class="col-md-9 col-xs-7">
			<div class="input-group">
				<label for="inputAppNo" class="input-group-addon" id="appNo-addon">Application No. :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputAppNo" placeholder="_________-_" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" readonly="readonly" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary">Generate</button>
				</span>
			</div>
		</div>
		
		<div class="col-md-3 col-xs-5">
			<div class="input-group">
				<label for="inputSeqNo" class="input-group-addon" id="seqNo-addon">Sequence No. :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputSeqNo" name="seqNo" aria-describedby="seqNo-addon" maxlength="7" />
			</div>
		</div>
    </div>
    
    <h3>&nbsp;</h3>
    
    <div class="row">
		<div class="col-md-12">
			<div class="input-group">
				<label for="inputAppForm" class="input-group-addon" id="appForm-addon">Application Form :</label>
				<input type="file" class="form-control" id="inputAppForm"  name="applicationNo" aria-describedby="AppForm-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" onclick="resetForm('inputAppForm')">Clear</button>
				</span>
			</div>
		</div>
    </div>
   	<h4></h4>
   	<div class="row show-grid">
	    <div class="col-md-12">
			<div class="input-group">
				<label for="inputIdProof" class="input-group-addon" id="idProof-addon">ID Proof &nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="file" class="form-control" id="inputIdProof"  name="idProof" aria-describedby="idProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" onclick="resetForm('inputIdProof')">Clear</button>
				</span>
			</div>
		</div>
    </div>
    <h4></h4>
    <div class="row">
	    <div class="col-md-12">
			<div class="text-right input-group">
				<label for="inputAddressProof" class="input-group-addon" id="addressProof-addon">Proof of Billing:&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="file" class="form-control" id="inputAddressProof"  name="addressProof" aria-describedby="addressProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" onclick="resetForm('inputAddressProof')">Clear</button>
				</span>
			</div>
		</div>
    </div>
    <h4></h4>
    <div class="row">
	    <div class="col-md-12">
			<div class="input-group">
				<label for="inputIncomeProof" class="input-group-addon" id="incomeProof-addon">Proof of Income :&nbsp;</label>
				<input type="file" class="form-control" id="inputIncomeProof"  name="incomeProof" aria-describedby="incomeProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" onclick="resetForm('inputIncomeProof')">Clear</button>
				</span>
			</div>
		</div>
    </div>
    
    <div id="additionalImage" class="additionalImage"></div>
    <h4></h4>
    
    <h4></h4>
    <div class="row">
    
    	<div class="col-md-2">
			<div class="input-group">
				<div class="input-group-btn">
					<p>	<a href="#" id='addLink'><span class="glyphicon glyphicon-plus"></span>Add &nbsp;&nbsp;</a>
						<a href="#" id='removeLink'><span class="glyphicon glyphicon-minus"></span>Remove</a>
					</p>
				</div>
			</div>
		</div>
	    <div class="col-md-10">
			<div class="input-group">
				<span class="text-right input-group-btn" >
					<button name="upload_images"  type="button" class="btn btn-primary">Submit</button>
					<button name="pending_images" type="button" class="btn btn-primary" >Pending</button>
				</span>
			</div>
		</div>

    </div>
    </form>
</div>

<!-- Modal For Submission-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='confirmModal',modal_title='Confirm Submission', modal_msg='Are you sure you want to submit these Documents?')">&nbsp;</div>

<!-- Modal For Pending-->
<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='pendingModal',modal_title='Confirm Pending',modal_msg='Are you sure you want to save these images as Pending?')">&nbsp;</div>
</body>
</html>