<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.index.title})"></head>
<body>
<!-- Loading gif -->
<div class="se-pre-con"></div>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div id="wrap">
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#arrays.isEmpty(message.args)?'':message.args[0]})})">&nbsp;</div>
    </th:block>
    
    <th:block th:if="${#fields.hasErrors('${uploadInformation.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    <h4>&nbsp;</h4>
    <form id="uploadForm" th:object="${uploadInformation}" class="form-horizontal" method="post" th:action="@{/upload}" enctype="multipart/form-data" >
    
    <div class="has-error">
		<span class="help-block" th:if="${#fields.hasErrors('pendingRemarks')}" th:errors="*{pendingRemarks}">At least one image is required.</span>
	</div>
    
    <div class="row">
		<div class="col-md-9" th:classappend="${#fields.hasErrors('appNo')}? 'has-error'">
			<div class="input-group svX3">
				<label for="inputAppNo" class="input-group-addon imagetype-width" id="appNo-addon">Application No. :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputAppNo" th:field="*{appNo}" placeholder="_________-_" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" readonly="readonly" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary" name="generate">Generate</button>
				</span>
			</div>
			<span class="help-block" th:if="${#fields.hasErrors('appNo')}" th:errors="*{appNo}">This field is required.</span>
		</div>
		
		<div class="col-md-3" th:classappend="${#fields.hasErrors('seqNo')}? 'has-error'">
			<div class="input-group svX3" >
				<label for="inputSeqNo" class="input-group-addon imagetype-width" id="seqNo-addon">Sequence No. :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control numeric appSeqNoCheckRemotely" th:field="*{seqNo}" id="inputSeqNo" name="seqNo" aria-describedby="seqNo-addon" maxlength="7" />
			</div>
			<span class="help-block" th:if="${#fields.hasErrors('seqNo')}" th:errors="*{seqNo}">This field is required.</span>
		</div>
    </div>
    
    <h3>&nbsp;</h3>
    
    <div class="row">
		<div class="col-md-12" th:classappend="${#fields.hasErrors('appForm')}? 'has-error'">
			<div class="input-group svX3">
				<label for="inputAppForm" class="input-group-addon imagetype-width" id="appForm-addon">Application Form :</label>
				<input type="file" accept="image/*" class="form-control" id="inputAppForm" th:field="*{appForm}" name="appForm" aria-describedby="AppForm-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" name="clearUpload" onclick="resetForm('inputAppForm')">Clear</button>
				</span>
			</div>
			
			<span class="help-block" th:if="${#fields.hasErrors('appForm')}" th:errors="*{appForm}">This field is required.</span>
		</div>
    </div>
   	<h4></h4>
   	<div class="row">
	    <div class="col-md-12" th:classappend="${#fields.hasErrors('idProof')}? 'has-error'">
			<div class="input-group svX3">
				<label for="inputIdProof" class="input-group-addon imagetype-width" id="idProof-addon">ID Proof :</label>
				<input type="file" accept="image/*" class="form-control" id="inputIdProof" th:field="*{idProof}" name="idProof" aria-describedby="idProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" name="clearUpload" onclick="resetForm('inputIdProof')">Clear</button>
				</span>
			</div>
			
			<span class="help-block" th:if="${#fields.hasErrors('idProof')}" th:errors="*{idProof}">This field is required.</span>
		</div>
    </div>
    <h4></h4>
    <div class="row">
	    <div class="col-md-12" th:classappend="${#fields.hasErrors('addressProof')}? 'has-error'">
			<div class="input-group svX3">
				<label for="inputAddressProof" class="input-group-addon imagetype-width" id="addressProof-addon">Proof of Billing:</label>
				<input type="file" accept="image/*" class="form-control" id="inputAddressProof" th:field="*{addressProof}" name="addressProof" aria-describedby="addressProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" name="clearUpload" onclick="resetForm('inputAddressProof')">Clear</button>
				</span>
			</div>
			
			<span class="help-block" th:if="${#fields.hasErrors('addressProof')}" th:errors="*{addressProof}">This field is required.</span>
		</div>
    </div>
    <h4></h4>
    <div class="row">
	    <div class="col-md-12" th:classappend="${#fields.hasErrors('incomeProof')}? 'has-error'">
			<div class="input-group svX3">
				<label for="inputIncomeProof" class="input-group-addon imagetype-width" id="incomeProof-addon">Proof of Income :</label>
				<input type="file" accept="image/*" class="form-control" id="inputIncomeProof" th:field="*{incomeProof}" name="incomeProof" aria-describedby="incomeProof-addon" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-primary" name="clearUpload" onclick="resetForm('inputIncomeProof')">Clear</button>
				</span>
			</div>
			<span class="help-block" th:if="${#fields.hasErrors('incomeProof')}" th:errors="*{incomeProof}">This field is required.</span>
		</div>
    </div>

	<div id="additionalImage" class="additionalImage">
		  
		<div th:each="image, rowStat : *{additionalImages}">
		<h4></h4>
		<div class="row" th:id="${'row-image_'+rowStat.count}">
			<div class="col-md-4 col-xs-6" th:classappend="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageType')}? 'has-error'">
				<div class="input-group svX3">
					<label th:attr="for=${'inputImageType_'+rowStat.count}"
						class="input-group-addon imagetype-width" th:id="${'imageType-addon_'+rowStat.count}">Image
						Type :&nbsp;</label>
						<select class="form-control" th:field="*{additionalImages[__${rowStat.index}__].imageType}"
						th:attr="aria-describedby=${'imageType-addon_'+rowStat.count}" th:id="${'inputImageType_'+rowStat.count}"
						th:name="${'imageType_'+rowStat.count}">
						<option value=""></option>
						<option th:each="enumImageType : ${listImageType}" th:value="${enumImageType.code}" th:text="#{${enumImageType.value}}">Image Type</option>
						</select>
				</div>
				<span class="help-block" th:if="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageType')}" th:errors="*{additionalImages[__${rowStat.index}__].imageType}">This field is required.</span>
			</div>
			<div class="col-md-8 col-xs-6" th:classappend="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageFile')}? 'has-error'">
				<div class="input-group">
					<input type="file" accept="image/*" class="form-control" th:id="${'image_'+rowStat.count}" 
					th:field="*{additionalImages[__${rowStat.index}__].imageFile}"
						th:name="${'image_'+rowStat.count}"></input><span
							class="input-group-btn"><button type="button"
								class="btn btn-primary" name="clearUpload" th:attr="onclick=${'resetForm(&quot;image_'+rowStat.count +'&quot;)'}">Clear</button></span>
				</div>
				<span class="help-block" th:if="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageFile')}" th:errors="*{additionalImages[__${rowStat.index}__].imageFile}">This field is required.</span>
			</div>
			
		</div>
		<h4></h4>
		</div>
		
	</div>
    
    <h4></h4>
    <div class="row">
    	<div class="col-xs-2">
			<div class="input-group">
				<div class="input-group-btn">
					<p><button type="submit" name="addImage" id="btn_addImage" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add</button></p>
				</div>
				<div class="input-group-btn">
					<p><button type="button" id="removeLink" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span>Remove</button></p>
				</div>
			</div>
		</div>
	    <div class="col-md-2 col-md-offset-8 col-sm-2 col-sm-offset-8 col-xs-3 col-xs-offset-7">
	    	<div class="input-group">
				<div class="input-group-btn">
					<p><button name="upload_images"  type="button" class="btn btn-primary">&nbsp;Submit</button></p>
				</div>
				<div class="input-group-btn">
					<p><button name="pending_images" type="button" class="btn btn-primary" >&nbsp;Pending&nbsp;</button></p>
					<button name="pending" type="submit" class="btn btn-primary" style="display: none;">doPending</button>
				</div>
			</div>
		</div>
    </div>

	<!-- Modal For Submission-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='confirmModal',modal_title='Confirm Submission', modal_msg='Are you sure you want to submit these Documents?',pendingRemarks='pendingRemarks')">&nbsp;</div>

	<!-- Modal For Pending-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='pendingModal',modal_title='Confirm Pending',modal_msg='Are you sure you want to save these images as Pending?',pendingRemarks='pendingRemarks')">&nbsp;</div>
    
    <!-- Modal For Completing instead-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='completeInsteadModal',modal_title='Submit as Complete', modal_msg='Minimum requirement was met.Submit the Application as Complete instead?',pendingRemarks='pendingRemarks')">&nbsp;</div>
    
    </form>
</div>
<!-- Wrapper end tag -->
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>
<div th:replace="fragments/resources :: basic-resources"></div>
<div th:replace="fragments/resources :: validation-resources"></div>
<!-- Scripts -->
<script type="text/javascript">
//<![CDATA[
function resetForm(id){
	$('#'+id).val(function(){
		this.defaultValue;
	});
}
$(document).ready(function(){
	var validator = 
	$('#uploadForm').validate({
		//validate non-present or visible fields.
		ignore: "",
		errorPlacement: function(label, element) {
			$(element)
				.closest("*[class^='col-']")
		    		.removeClass('has-success')
		    		.addClass('has-error')
		    	.tooltip({ 
		    		animation : true, 
		    		placement : "auto"})
		    	.attr("data-original-title", $(label).text());
			$(label).hide();
		},
        success: function (label, element) {
        	$(element)
        		.tooltip('destroy')
        		.closest("*[class^='col-']")
        			.removeClass('has-error')
        			.addClass('has-success');
        	$(label).hide();
        }
    });
	
	//individually validate this field.
	if($('#inputSeqNo').val().length>0){
		validator.element( "#inputSeqNo" );
	}
	//showLoadingGifOnFormSubmit();
	enableToolTipForHeader();
	enableToolTipForMerchantUpload();
	$('button[name="upload_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    $('#confirmModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            $form.trigger('submit');
	        });
	});
	
	$('button[name="pending_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    /*	Check if this file/s are available. if yes then proceed with a 'complete' submission instead.
	    	inputAppForm
	    	inputIdProof
	    	inputAddressProof
	    	inputIncomeProof
	    */
	    if($('#inputIdProof').get(0).files.length != 0 &&
	    			$('#inputAddressProof').get(0).files.length != 0 &&
	    				$('#inputIncomeProof').get(0).files.length != 0) {
	    	//submit the application as complete instead if minimum requirement was met.
	    	$('#completeInsteadModal').modal({ backdrop: 'static', keyboard: false })
	        	.one('click', '#confirm', function (e) {
	        		$form.trigger('submit');
	        	});
	    //else show the pending modal screen.
	    }else{
	    	$('#pendingModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	        	$('button[name="pending"]').click();
	        });
	    }
	    
	});
	
	/* Clear fields to prevent the back button from populating using cache*/
	$('#uploadForm')[0].reset();
	
	$("#removeLink").click(function () {
		var id = ($('.additionalImage .row').length).toString();
	    $("#additionalImage #row-image_"+ id).remove();
	});
	/* Prevents user to input character on fields marked with class numeric.*/
	enableNumericOnlyForNumericClass();
});
//]]>
</script>
</body>
</html>