<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
</head>
<body>
<!-- Modal -->
<div class="modal fade" th:id="${modal_id}" th:fragment="modal_zipcode">
	<div class="modal-dialog modal-zipcode">
	<script type="text/javascript">
		
		function zipCode_formatter(value){
			var $str = value;
			var $detail_url = '<b><p>'+$str+'</p></b>';
			return $detail_url;
		}
		
		function buttonFormatter_postCode(value){
			var $str = value;
			var $detail_url = '<button id="btnZipCode_'+$str+'" type="button" data-dismiss="modal" name="btnZipCode" value="'+$str+'" data-formatter="selectDescription">Select</button>';
			return $detail_url;
		}
		
		function areaNm_formatter(value){
			var $str = value;
			var $detail_url = '<p><label class="control-label" id="lblZipCode_'+$str+'" value="'+$str+'">'+$str+'</label></p>';
			return $detail_url;
			
		}
		
		function cityNm_formatter(value){
			var $str = value;
			var $detail_url = '<b><input type="hidden" class="control-label" id="lblCity_'+$str+'" value="'+$str+'">'+$str+'</input></b>';
			return $detail_url;
			
		}
		
		$(document).on( "click", 'button[name^="btnZipCode"]', function(element) {
			$areaNm = $(this).parent().parent().find("label").text();
			$cityNm = $(this).parent().parent().find("input").val();
			$('#zipcode_'+$('#selectedZipcode').val()).val($(this).val());
			$('#area_'+$('#selectedZipcode').val()).val($areaNm);
			$('#city_'+$('#selectedZipcode').val()).val($cityNm);
			
		});
		
	</script>
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h4 class="modal-title" th:text="${modal_title}">Confirmation</h4>
      </div>
      <div class="modal-body">
		  <table id="table-pagination" class="table table-striped" data-toggle="table" th:attr="data-url= @{/zipcode}" data-cache="false" data-height="400" data-search="true" data-pagination="true">
    		<thead class="row">
    		<tr>
    		<th data-sortable="true" data-formatter="buttonFormatter_postCode" data-field="postCode"></th>
    		<th data-sortable="true" data-formatter="zipCode_formatter" data-field="postCode" width="95" height="20" rowspan="1" colspan="1">ZipCode</th>
    		<th data-sortable="true" data-formatter="areaNm_formatter" data-field="areaNm" width="105" height="20" rowspan="1" colspan="1">Area</th>
    		<th data-sortable="true" data-formatter="cityNm_formatter" data-field="cityNm" width="105" height="20" rowspan="1" colspan="1">City</th>
    		</tr>
    		</thead>
    	</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="close">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>