<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.search.title})"></head>
<script type="text/javascript">
$(function () {
    $('#datetimepicker_from').datetimepicker();
    $('#datetimepicker_to').datetimepicker();
    $("#datetimepicker_from").on("dp.change", function (e) {
        $('#datetimepicker_to').data("DateTimePicker").minDate(e.date);
    });
    $("#datetimepicker_to").on("dp.change", function (e) {
        $('#datetimepicker_from').data("DateTimePicker").maxDate(e.date);
    });
});
</script>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}})">&nbsp;</div>
    </th:block>    
    <form class="form-search form-horizontal">
    <div class="row">
		<div class="col-md-4">
			<div class="input-group">
				<label for="inputAppNo" class="input-group-addon" id="appNo-addon">Application No. :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputAppNo" placeholder="_________-_" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" />
			</div>
		</div>
		<div class="col-md-5">			
			<div class='input-group date' id='datetimepicker_from'>
				<label for="inputAppDate-from" class="input-group-addon" id="appDate-from-addon">Application Date :&nbsp;&nbsp;&nbsp;</label>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
		</div>
		<div class="col-md-3">
			<div class='input-group date' id='datetimepicker_to'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
		</div>
    </div>
    <h3></h3>
    <div class="row">
		<div class="col-md-6">
			<div class="input-group">
				<label for="inputCustomerName" class="input-group-addon" id="customerName-addon">Customer Name :&nbsp;&nbsp;&nbsp;</label>
				<input type="text" class="form-control" id="inputCustomerName" name="customerName" aria-describedby="customerName-addon" maxlength="30"/>
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="input-group">
				<label for="inputSeqNo" class="input-group-addon" id="seqNo-addon">Seq No. :</label>
				<input type="text" class="form-control" id="inputSeqNo" name="seqNo" aria-describedby="seqNo-addon" maxlength="7" />
			</div>
		</div>
		
		<div class="col-md-3">
			<div class="input-group">
				<span class="text-right input-group-btn" >
					<button name="search_app"  type="button" class="btn btn-primary">Search</button>
					<button name="reset_fields" type="reset" class="btn btn-primary" >Reset</button>
				</span>
			</div>
		</div>
    </div>
    </form>
	
	<div>
    <table id="table-pagination" class="table table-striped" data-toggle="table" data-url="http://192.168.51.67:8080/HP/resources/json/data1.json" data-cache="false" data-height="425" data-search="true" data-pagination="true">
    <thead class="row">
        <tr>
            <th class="col-md-1" data-sortable="true" data-field="appNo">Application No</th>
            <th class="col-md-3" data-sortable="true" data-field="customerName">Customer Name</th>
            <th class="col-md-2" data-sortable="true" data-field="appDateTime">Application Date</th>
            <th class="col-md-2" data-sortable="true" data-field="status">Application Status</th>
            <th class="col-md-1" data-sortable="true" data-field="seqNo">SeqNo</th>
            <th class="col-md-3" data-sortable="true" data-field="remarks">Remarks</th>
        </tr>
    </thead>
	</table>
    </div>

</div>
</body>
</html>