<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/resources :: resources(title=#{view.appDetail.title})"></head>
<body>
<!-- Loading gif -->
<div class="se-pre-con"></div>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <!-- /* Handle the flash message */-->
    <th:block th:if="${message != null}">
        <!-- /* The message code is returned from the @Controller */ -->
        <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#arrays.isEmpty(message.args)?'':message.args[0]})})">&nbsp;</div>
    </th:block>
    
    <th:block th:if="${#fields.hasErrors('${followupappDetailsForm.*}')}">
        <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
    </th:block>
    
    <h4>&nbsp;</h4>
    <form id="appDetailForm" class="form-horizontal" method="post" th:action="@{/followup/} + *{appNo}" th:object="${followupappDetailsForm}" enctype="multipart/form-data">
    
    <div class="row">
		<div class="col-md-6">
			<div class="input-group svX3">
				<label for="inputAppNo" class="input-group-addon imagetype-width" id="appNo-addon">Application No. :</label>
				<input type="text" class="form-control" id="inputAppNo" th:field="*{appNo}" name="applicationNo" aria-describedby="appNo-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="input-group svX3" >
				<label for="inputCustomerName" class="input-group-addon imagetype-width" id="customerName-addon">Customer Name :</label>
				<input type="text" class="form-control" id="inputCustomerName" th:field="*{customerName}" name="customerName" aria-describedby="customerName-addon" maxlength="11" readonly="readonly" />
			</div>
		</div>
    </div>
   	 
    <h4>&nbsp;</h4>
    
    <div>
    		<h4>Existing Images</h4>
		    <!-- Existing Application Images Table-->
			<table id="table-pagination" class="table table-striped " data-toggle="table" data-pagination="true" data-page-size="5">
			   <thead>
			       <tr >
			           <th class="col-md-1" data-sortable="true">Seq No</th>
			           <th class="col-md-4" data-sortable="true">Image Type</th>
			           <th class="col-md-6" data-sortable="true">Filename</th>
			           <th class="col-md-1" data-sortable="true"></th>
			       </tr>
			   </thead>
			   <tbody>
				   	<tr th:each="mItem, rowStat : *{existingImages}">
				   		<td class="col-md-1" th:text="${rowStat.count}"></td>
				   		<td class="col-md-4" th:text="#{${mItem.imageTypeDesc}}"></td>
				   		<td class="col-md-6" th:text="${mItem.imageFilename}"></td>
				   		<td class="col-md-1 btn-group-xs text-center">
				   			<button type="button" class="btn btn-primary" th:name="${'existingImages_'+rowStat.index}" >View</button>
				   		</td>	
				   	</tr>
			   </tbody>
			</table>
		
	</div>
    
	<div id="additionalImage" class="additionalImage">
		<div class="has-error">
			<span class="help-block" th:if="${#fields.hasErrors('additionalImages')}" th:errors="*{additionalImages}">Sample file error message here </span>
		</div>
		
		<div th:each="image, rowStat : *{additionalImages}">
			<h4></h4>
			<div class="row" th:id="${'row-image_'+rowStat.count}">
				<div class="col-md-4 col-xs-6" th:classappend="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageType')}? 'has-error'">
					<div class="input-group svX3">
						<label th:attr="for=${'inputImageType_'+rowStat.count}"
							class="input-group-addon imagetype-width" th:id="${'imageType-addon_'+rowStat.count}">Image Type :&nbsp;</label>
							<select class="form-control" th:field="*{additionalImages[__${rowStat.index}__].imageType}"
							th:attr="aria-describedby=${'imageType-addon_'+rowStat.count}" th:id="${'inputImageType_'+rowStat.count}"
							th:name="${'imageType_'+rowStat.count}">
							<option value=""></option>
							<option th:each="enumImageType : ${listImageType}" th:value="${enumImageType.code}" th:text="#{${enumImageType.value}}">Image Type</option>
							</select>
					</div>
					<span class="help-block" th:if="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageType')}" th:errors="*{additionalImages[__${rowStat.index}__].imageType}">This field is required.</span>
				</div>
				<div class="col-md-8 col-xs-6" th:classappend="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageFile')}? 'has-error'">
					<div class="input-group">
						<input type="file" accept="image/*" class="form-control" th:id="${'image_'+rowStat.count}" 
						th:field="*{additionalImages[__${rowStat.index}__].imageFile}"
							th:name="${'image_'+rowStat.count}"></input><span
								class="input-group-btn"><button type="button" name="clearUpload"
									class="btn btn-primary" th:attr="onclick=${'resetForm(&quot;image_'+rowStat.count +'&quot;)'}">Clear</button></span>
					</div>
					<span class="help-block" th:if="${#fields.hasErrors('additionalImages[__${rowStat.index}__].imageFile')}" th:errors="*{additionalImages[__${rowStat.index}__].imageFile}">This field is required.</span>
				</div>
				
			</div>
			<h4></h4>
		</div>	
	</div>
	
    <h4></h4>
    <div class="row">
    	<div class="col-md-3 col-xs-6">
			<div class="input-group">
				<div class="input-group-btn">
					<p>	
						<button type="submit" name="addImage" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add</button>
						<button type="button" id="removeLink" class="btn btn-primary"><span class="glyphicon glyphicon-minus"></span>&nbsp;Remove</button>
					</p>
				</div>
			</div>
		</div>
    	
	    <div class="col-md-9 col-xs-6">
			<div class="input-group">
				<div class="text-right input-group-btn" >
					<p>
						<input type="hidden" th:field="*{applicationStatus}" name="applicationStatus"/>
						<button th:if="${followupappDetailsForm.applicationStatus=='With Pending Documents'}"  name="completeSubmission" type="button" class="btn btn-primary">Submit</button>
						<button name="complete" type="submit" class="btn btn-primary" style="display: none;">doCompleteApplication</button>
						<button name="uploadAdditionalImages" type="submit" class="btn btn-primary" style="display: none;">upload Additional Images to existing application</button>
						
						<button name="attach_images" type="button" class="btn btn-primary">Attach Image/s</button>
						<button name="view_images" type="button" class="btn btn-primary" >View Image/s</button>
					</p>
				</div>
			</div>
		</div>
    </div>
    
    <div>
		<!-- Images requested by operator-->
		    <h4>Requested Images</h4>
		    <div class="has-error">
		    	<span class="help-block" th:if="${#fields.hasErrors('followupImage')}">Please upload requested image.</span>
			</div>
			<table id="table-pagination" class="table table-striped " data-toggle="table" data-pagination="true">
			   <thead>
			       <tr >
			           <th class="col-md-1" data-sortable="true">Seq No</th>
			           <th class="col-md-2" data-sortable="true">Requested Image Type</th>
			           <th class="col-md-2" data-sortable="true">Requested By</th>
			           <th class="col-md-2" data-sortable="true">Requested Date</th>
			           <th class="col-md-1" data-sortable="true">Upload Status</th>
			           <th class="col-md-3" data-sortable="true">Remarks</th>
			           <th class="col-md-1" data-sortable="true">&nbsp;</th>
			       </tr>
			   </thead>
			   <tbody>
				   	<tr th:each="mItem, rowStat : *{requestedDocuments}">
				   		<td class="col-md-1" th:text="${rowStat.count}">SeqNo</td>
				   		<td class="col-md-2" th:text="#{${mItem.imageType}}">Sample Type</td>
				   		<td class="col-md-3" th:text="${mItem.requestedBy}">Gail Vargas</td>
				   		<td class="col-md-2" th:text="${mItem.requestedDate}">2015-03-01 17:20:00</td>
				   		<td class="col-md-1" th:text="#{${mItem.uploadStatus}}">Not Yet Uploaded</td>
				   		<td class="col-md-3" th:text="${mItem.remarks}">Please provide this image.</td>
				   		<td class="col-md-1">
				   			<div class="text-center btn-group-xs" role="group">
				   				<input type="hidden" th:field="*{requestedDocuments[__${rowStat.index}__].seqId}" />
				   				<button th:if="${mItem.uploadStatus == 'fuuploadstatus.no'}" type="button" th:name="${'uploadRequestedDoc_'+rowStat.index}" class="btn btn-primary">Upload</button>
				   				<span th:if="${mItem.uploadStatus == 'fuuploadstatus.yes'}" class="glyphicon glyphicon-check green"></span>
				   			</div>
				   		</td>
				   	</tr>
				   	
			   </tbody>
			   
			</table>
			
	</div>
    <!-- Temp space for the seqNo of the selected Item for update-->
	<div id="requestedDocument">
		<input type="hidden" th:field="*{reqDocumentForUpdate.seqId}"/>
	</div>
    
    <!-- Modal For Submission-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='confirmModal',modal_title='Confirm Submission', modal_msg='Are you sure you want to submit these Documents?',pendingRemarks='pendingRemarks')">&nbsp;</div>

	<!-- Modal For Pending-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='pendingModal',modal_title='Confirm Pending',modal_msg='Are you sure you want to save these images as Pending?',pendingRemarks='pendingRemarks')">&nbsp;</div>
    
    <!-- Modal For Validation Message for incomplete application.-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='messageModal',modal_title='Image Incomplete',modal_msg='Cannot tagged as complete application did not meet the requirements.',pendingRemarks='pendingRemarks')">&nbsp;</div>
    
    <!-- Modal For Completing instead-->
	<div th:replace="fragments/modal_confirm :: modal_confirm(modal_id='completeInsteadModal',modal_title='Submit as Complete', modal_msg='Minimum requirement was met.Submit the Application as Complete instead?',pendingRemarks='pendingRemarks')">&nbsp;</div>
    
    <!-- Modal For Requested Document Submission -->
    <div th:replace="fragments/uploadrequesteddoc_confirm :: uploadrequesteddoc_confirm(followupImage='followupImage',followupImageRemarks='reqDocumentForUpdate.remarks')"></div>
    
    </form>
</div>
<div id="links" style="visibility : hidden">
	<ul th:each="mItem,rowStat : ${followupappDetailsForm.existingImages}">
		<li>
	    	<a th:name="${'image_'+rowStat.count}" href="../../../resources/images/w.macalino_af.jpg" th:href="@{#{image.url}} + ${mItem.imageCode} + '/view'" th:title="#{${mItem.imageTypeDesc}}" title="Application Form" data-gallery="samplegallery"></a>
	    </li>
	</ul>
</div>
	
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" >
	    <!-- The container for the modal slides -->
	    <div class="slides"></div>
	    <!-- Controls for the borderless lightbox -->
	    <h3 class="title"></h3>
	    <a class="prev">‹</a>
	    <a class="next">›</a>
	    <a class="close">×</a>
	    <a class="play-pause"></a>
	    <ol class="indicator"></ol>
	    <!-- The modal dialog, which will be used to wrap the lightbox content -->
	    <div class="modal">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="modal-header">
	                    <button type="button" class="close" aria-hidden="true">&times;</button>
	                    <h4 class="modal-title"></h4>
	                </div>
	                <div class="modal-body next">
	                </div>
	                <div class="modal-footer">
	                    <button type="button" class="btn btn-default pull-left prev">
	                        <i class="glyphicon glyphicon-chevron-left"></i>
	                        Previous
	                    </button>
	                    <button type="button" class="btn btn-primary next">
	                        Next
	                        <i class="glyphicon glyphicon-chevron-right"></i>
	                    </button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>

<script type="text/javascript">
//<![CDATA[
function resetForm(id){
	$('#'+id).val(function(){
		this.defaultValue;
	});
	
}

$(document).ready(function(){
	showLoadingGifOnFormSubmit();
	enableToolTipForHeader();
	enableToolTipForMerchantUpload();
	/*!I Summon the modal screen! */
	$('button[name="attach_images"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    /* Please get rid of duplicates in future. - you from me*/
	   	var valresult = '';
	    var existingImages = '';
	  	//get the existing image and express as string, concatenanted imageType
	    $('[id^=existingImages][id$=imageType]').each(function(){
	    	existingImages+=$(this).val();
    	});
	    
	    //do some validation check if one of each is existing:
    	$('[id^=inputImageType_]').each(function(){
    		valresult+=$(this).val();
    		console.log(valresult);
    	});
	    //combine the existing to newly added image types.
	    valresult+=existingImages;
	    //status should match atleast one of each image types 1234.
	    var isComplete = new RegExp('^(?=.*[1]{1,}.*)(?=.*[2]{1,}.*)(?=.*[3]{1,}.*).*$');
	    //if the set images are already complete then tag it as complete instead.
	    if((isComplete.test(valresult)) && ($('[name^=applicationStatus]').val()=='With Pending Documents') ){
	    	
		    $('#completeInsteadModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	        	$('button[name="complete"]').click();
	        });
	    	
	    }else{
		    $('#confirmModal').modal({ backdrop: 'static', keyboard: false })
		        .one('click', '#confirm', function (e) {
		            //$form.trigger('submit');
		            $('button[name="uploadAdditionalImages"]').click();
		        });
	    
	    }
	    
	});
	
	
	$('button[name^="uploadRequestedDoc"]').on('click',function(e){
		e.preventDefault();
		var $form=$(this).closest('form');
		//seq No needed for update
		var $seqId = $(this).prev().val();
		//remove the existing first
		$('#requestedDocument').children().val("");
		//set into selected seqId
		$('#requestedDocument').children().val($seqId);
		$('#uploadrequesteddoc').modal({ backdrop: 'static', keyboard: false })
        .one('click', '#confirm', function (e) {
            $form.trigger('submit');
        });
	});
	
	
	$('button[name="completeSubmission"]').on('click', function(e){
	    var $form=$(this).closest('form');
	    e.preventDefault();
	    
	    var valresult = '';
	    var existingImages = '';
	    
	    //get the existing image and express as string, concatenanted imageType
	    $('[id^=existingImages][id$=imageType]').each(function(){
	    	existingImages+=$(this).val();
    	});
	    
	    //do some validation check if one of each is existing:
    	$('[id^=inputImageType_]').each(function(){
    		valresult+=$(this).val();
    		console.log(valresult);
    	});
	    //combine the existing to newly added image types.
	    valresult+=existingImages;
	    //status should match atleast one of each image types 1234.
	    var isComplete = new RegExp('^(?=.*[1]{1,}.*)(?=.*[2]{1,}.*)(?=.*[3]{1,}.*).*$');
	    
	    if(isComplete.test(valresult)){
	    	$('#confirmModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            //$form.trigger('submit');
	            //instead of submitting the form use the different path to update the regstatus into 'complete'.
	            $('button[name="complete"]').click();
	        });
	    }else{
	    	$('#messageModal').modal({ backdrop: 'static', keyboard: false })
	        .one('click', '#confirm', function (e) {
	            return;
	        });
	    } 
	});
	
	$('button[name="view_images"]').on('click', function(e){
		$('#links li:first a').click();
	});
	/*!I Summon the modal screen! */
	$("#removeLink").click(function () {
		var id = ($('.additionalImage .row').length).toString();
	    $("#additionalImage #row-image_"+ id).remove();
	});
});
//global binding for dynamic elements
$( document ).on( "click", '[name^="existingImages"]', function() {
		var imageIndex = $(this).attr('name').replace(/[^0-9]/gi, '');
		var int_imageIndex = parseInt(imageIndex, 10) + 1;
		$('#links [name="image_'+int_imageIndex+'"]').click();
});
	
//]]>
</script>
</body>
</html>