<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   	<meta charset="UTF-8"/>
</head>
<body>
<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" th:fragment="header" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/}"><strong>HPS-OSA</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="nav navbar-nav">
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}"><a href="#" th:href="@{/}"><span class="glyphicon glyphicon-home"></span>   Merchant Upload</a></li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}"><a href="#about" th:href="@{/search}"><span class="glyphicon glyphicon-search"></span>   Search Application</a></li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}"><a href="#contact" th:href="@{/followup}"><span class="glyphicon glyphicon-folder-open"></span>   Document Follow up</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!hasAnyRole(''ROLE_USER'')')}">
                    <a href="/signin" th:href="@{/signin}">Sign in</a>
                </li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}">
               		<a href="#user"><span class="glyphicon glyphicon-cog"></span>   <span th:text="${#authentication.name}">User Name</span></a>
                </li>
                <li th:if="${#authorization.expression('hasAnyRole(''ROLE_USER'')')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();"><span class="glyphicon glyphicon-off"></span>   Logout</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
</body>
</html>