<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
</head>
<body>
<!-- Modal -->
<div class="modal fade" th:id="${modal_id}" th:fragment="modal_confirm">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" th:text="${modal_title}">Confirmation</h4>
      </div>
      <div class="modal-body">
        <p th:text="${modal_msg}">Are you sure you want to submit these Documents?</p>
        <label th:if="${modal_id=='pendingModal'}" for="inputPendingRemarks" class="input-group" id="pendingRemarks-addon">Pending Remarks:</label>
      	<input th:if="${modal_id=='pendingModal'}" type="text" class="form-control" th:field="*{__${pendingRemarks}__}" id="inputPendingRemarks" name="pendingRemarks"/>
      </div>
      <div class="modal-footer">
        <button th:if="${modal_id!='messageModal'}" type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Submit</button>
        
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>