<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="resources">
<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:text="${title}"></title>
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
<link href="../../../resources/css/bootstrap-theme.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.css}"/>
<link href="../../../resources/css/bootstrap-theme.css.map" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-theme.css.map}"/>
<link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-datetimepicker.min.css}" />
<link href="../../../resources/css/bootstrap-table.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-table.min.css}" />

<link href="../../../resources/css/blueimp-gallery.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/blueimp-gallery.min.css}" />
<link href="../../../resources/css/bootstrap-image-gallery.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap-image-gallery.min.css}" />


<script src="../../../resources/js/core.js" th:src="@{/resources/js/core.js}"></script>
<script src="../../../resources/js/moment.js" th:src="@{/resources/js/moment.js}"></script>
<script src="../../../resources/js/jquery-2.1.4.min.js" th:src="@{/resources/js/jquery-2.1.4.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="../../../resources/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker.min.js}"></script>
<script src="../../../resources/js/bootstrap-table.min.js" th:src="@{/resources/js/bootstrap-table.min.js}"></script>
<script src="../../../resources/js/jquery.validate.min.js" th:src="@{/resources/js/jquery.validate.min.js}"></script>

<script src="../../../resources/js/jquery.blueimp-gallery.min.js" th:src="@{/resources/js/jquery.blueimp-gallery.min.js}"></script>
<script src="../../../resources/js/blueimp-gallery.min.js" th:src="@{/resources/js/blueimp-gallery.min.js}"></script>
<script src="../../../resources/js/bootstrap-image-gallery.min.js" th:src="@{/resources/js/bootstrap-image-gallery.min.js}"></script>
	
</head>
</html>