<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1" />
</head>
<body>
<!-- Modal -->
<div class="modal fade" id="uploadrequesteddoc" th:fragment="uploadrequesteddoc_confirm">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Upload Requested Document</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to submit these Documents for Follow up?</p>
        <!-- Upload File -->
        <label for="inputRequestedFile" class="input-group" id="requestedDoc-addon">Please provide the image.</label>
      	<input type="file" th:field="*{__${followupImage}__}" class="form-control" id="inputRequestedFile" name="followupImage"/>
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirm">Submit</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>